<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}Me{% endblock %}</title>
</head>
<body>
    <div>
        <header>
            <nav class="bg-gray-800 text-white p-4">
                <a href="/serverapp/page2" class="text-white hover:text-gray-300">Home</a> |
                <a href="{% url 'page3' %}" class="text-white hover:text-gray-300">About</a> |
                <a href="/contact" class="text-white hover:text-gray-300">Contact</a>
            </nav>
        </header> 
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2023 My App. All rights reserved.</p>
        </footer>
    </div>
    
</body>
</html>